@import "tailwindcss";

@theme {
  --color-azul-primary: #1E5BA8;
  --color-azul-dark: #0D3B6B;
  --color-azul-light: #E8F0FB;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}